[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
evalica = "*"
pandas = "2.1.*"
pyarrow = "*"
Levenshtein = "*"
networkx = "*"
tqdm = "*"

[dev-packages]
jupyter = "*"
mypy = "*"
nbqa = "*"
pandas-stubs = "*"
plotly = "*"
pyupgrade = "*"
ruff = "*"
types-networkx = "*"
types-tqdm = "*"

[scripts]
llmfao = "python3 -m llmfao"
leaderboard = "jupyter nbconvert --to html --TagRemovePreprocessor.remove_input_tags remove_input --output leaderboard.html --execute leaderboard.ipynb"

[requires]
python_version = "3.12"
