[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
Levenshtein = "*"
networkx = "*"
tqdm = "*"

[dev-packages]
mypy = "*"
jupyter = "*"
plotly = "*"
gradio-client = "*"

[scripts]
llmfao = "python3 -m llmfao"
leaderboard = "jupyter nbconvert --to html --TagRemovePreprocessor.remove_input_tags remove_input --output leaderboard.html --execute leaderboard.ipynb"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
